
/* @import url("~../Images/creamCardImage.jpeg"); */


.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #2e30a6;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #2e30a6;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: rgb(150, 160, 221);
}

.cardList {
  position: relative;
  background-color: gray;
  width: 425px; 
  height: 200px; 
  margin: 10px;
  /* background-image: url(${cardListImage}); */
  /* background-size: cover; */

}

.cardActions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.profileCard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1pt solid;
}

.cardDetails {
  position: relative;
  width: 350px;
  border: 1pt solid;
  min-height: 400px;
  margin: auto;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.profileContainer {
  position: relative;
  width: 350px;
  border: 1pt solid;
  /* height: auto; */
  background-color: rgb(201, 191, 168);
  margin: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.aboutContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1pt solid;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  padding: 20px ;
  background-color: white;
  overflow: auto; /* Add a scrollbar to the container */
}

.table-responsive {
  overflow-x: auto;
  margin: 20px;
}